# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

#### 1. Read `tic-tac-toe.csv` into a dataframe.

In [188]:
import pandas as pd
import numpy as np

In [189]:
df = pd.read_csv('tic-tac-toe.csv')

In [190]:
y = df['class']
X = df.drop(['class'], axis = 1)

In [191]:
y

0       True
1       True
2       True
3       True
4       True
       ...
953    False
954    False
955    False
956    False
957    False
Name: class, Length: 958, dtype: bool

In [192]:
X

    TL TM TR ML MM MR BL BM BR
0    x  x  x  x  o  o  x  o  o
1    x  x  x  x  o  o  o  x  o
2    x  x  x  x  o  o  o  o  x
3    x  x  x  x  o  o  o  b  b
4    x  x  x  x  o  o  b  o  b
..  .. .. .. .. .. .. .. .. ..
953  o  x  x  x  o  o  o  x  x
954  o  x  o  x  x  o  x  o  x
955  o  x  o  x  o  x  x  o  x
956  o  x  o  o  x  x  x  o  x
957  o  o  x  x  x  o  o  x  x

[958 rows x 9 columns]

#### 2. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.

In [193]:
print(df.columns)
len(df.columns)

Index(['TL', 'TM', 'TR', 'ML', 'MM', 'MR', 'BL', 'BM', 'BR', 'class'], dtype='object')

10

In [194]:
num_victories = len(df[df['class']==True])
num_defeats = len(df[df['class']==False])

print("Number of victories of player X: {}".format(num_victories))
print("Number of victories of player O: {}".format(num_defeats))

Number of victories of player X: 626
Number of victories of player O: 332

We can see that there are no null values

In [195]:
df.isna().sum()

TL       0
TM       0
TR       0
ML       0
MM       0
MR       0
BL       0
BM       0
BR       0
class    0
dtype: int64

#### 3. Convert the categorical values to numeric in all columns.

Checking out the data types. Everything seems quite right, let's convert them.

In [196]:
df.dtypes

TL       object
TM       object
TR       object
ML       object
MM       object
MR       object
BL       object
BM       object
BR       object
class      bool
dtype: object

In [197]:
def object2num(data):
    for column in data.columns:
        data[column] = data[column].map({"x":1, "o":0, "b":0.5})
    return data

In [198]:
object2num(X)

      TL   TM   TR   ML   MM   MR   BL   BM   BR
0    1.0  1.0  1.0  1.0  0.0  0.0  1.0  0.0  0.0
1    1.0  1.0  1.0  1.0  0.0  0.0  0.0  1.0  0.0
2    1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  1.0
3    1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.5  0.5
4    1.0  1.0  1.0  1.0  0.0  0.0  0.5  0.0  0.5
..   ...  ...  ...  ...  ...  ...  ...  ...  ...
953  0.0  1.0  1.0  1.0  0.0  0.0  0.0  1.0  1.0
954  0.0  1.0  0.0  1.0  1.0  0.0  1.0  0.0  1.0
955  0.0  1.0  0.0  1.0  0.0  1.0  1.0  0.0  1.0
956  0.0  1.0  0.0  0.0  1.0  1.0  1.0  0.0  1.0
957  0.0  0.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0

[958 rows x 9 columns]

In [199]:
X.dtypes

TL    float64
TM    float64
TR    float64
ML    float64
MM    float64
MR    float64
BL    float64
BM    float64
BR    float64
dtype: object

#### 4. Separate the inputs and output.

In [200]:
X, y

(      TL   TM   TR   ML   MM   MR   BL   BM   BR
 0    1.0  1.0  1.0  1.0  0.0  0.0  1.0  0.0  0.0
 1    1.0  1.0  1.0  1.0  0.0  0.0  0.0  1.0  0.0
 2    1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  1.0
 3    1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.5  0.5
 4    1.0  1.0  1.0  1.0  0.0  0.0  0.5  0.0  0.5
 ..   ...  ...  ...  ...  ...  ...  ...  ...  ...
 953  0.0  1.0  1.0  1.0  0.0  0.0  0.0  1.0  1.0
 954  0.0  1.0  0.0  1.0  1.0  0.0  1.0  0.0  1.0
 955  0.0  1.0  0.0  1.0  0.0  1.0  1.0  0.0  1.0
 956  0.0  1.0  0.0  0.0  1.0  1.0  1.0  0.0  1.0
 957  0.0  0.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0

 [958 rows x 9 columns],
 0       True
 1       True
 2       True
 3       True
 4       True
        ...
 953    False
 954    False
 955    False
 956    False
 957    False
 Name: class, Length: 958, dtype: bool)

#### 5. Normalize the input data.

I have chosen 1 for player 1, 0 for player 2 and 0.5 for not chosen place

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [201]:
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split

#I'm using sklearn for NN <- this is not the best implementation, you should use keras instead
from sklearn.datasets import fetch_openml
from sklearn.exceptions import ConvergenceWarning
from sklearn.neural_network import MLPClassifier

#### 1. Split the training and test data.

In [202]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

#### 2. Create a `Sequential` model.

In [203]:
pd.DataFrame(X_train)

      TL   TM   TR   ML   MM   MR   BL   BM   BR
302  0.0  1.0  1.0  0.0  1.0  0.0  0.5  1.0  0.5
467  0.0  0.5  0.0  0.0  1.0  0.5  1.0  1.0  1.0
294  1.0  0.5  0.5  0.5  1.0  0.5  0.0  0.0  1.0
548  0.5  0.0  1.0  0.0  0.5  1.0  0.5  0.5  1.0
465  0.0  0.5  0.0  1.0  0.0  0.5  1.0  1.0  1.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...
106  1.0  1.0  0.5  0.0  1.0  0.0  0.0  0.5  1.0
270  1.0  0.5  0.0  0.5  1.0  0.0  0.0  1.0  1.0
860  0.0  0.5  1.0  0.0  1.0  0.5  0.0  0.5  1.0
435  0.0  0.5  1.0  0.0  1.0  0.0  1.0  0.5  1.0
102  1.0  1.0  0.5  1.0  0.0  0.0  1.0  0.5  0.0

[766 rows x 9 columns]

#### 3. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.

In [209]:
from tensorflow.python import tf2
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.utils import to_categorical

In [ ]:
# Build the model.
model = Sequential([ # as far as we know, all networks are sequential
    Dense(64, activation='relu', input_shape=(784,)), # 784= 28*28 dense networks means all neurons in one layer are connected to all neurons of the next layer
    Dense(64, activation='relu'),      # choosing relu instead of sigmoid, this is somewhat common
    Dense(10, activation='softmax'),   # the softmax actiavation is the last one to compensate for the high volume additions
])

#### 4. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.

In [ ]:
# Compile the model.
model.compile(
    optimizer='adam', #here we could use stochastic gradient descent, but adam is a de facto standard
    loss='categorical_crossentropy', #this is how we create the original blame to play the blame game
    metrics=['accuracy'],
)

#### 5. Fit the training data.

In [ ]:
# Train the model.
history = model.fit(
    train_images,
    to_categorical(train_labels), # just to make sure the outputs are not considered numeric (because, ya know, they are numbers...)
    epochs=20, # go 20 times through the whole dataset
    batch_size=32, # send 32 images at a time before you tweak the network again, to make it faster
)

#### 6. Evaluate your neural network model with the test data.

In [ ]:
# Evaluate the model.
model.evaluate(
    test_images,
    to_categorical(test_labels)
)

#### 7. Save your model as `tic-tac-toe.model`.

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [204]:
# your code here

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [205]:
# your code here

**Which approach(es) did you find helpful to improve your model performance?**

In [206]:
# your answer here