# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

#### 1. Read `tic-tac-toe.csv` into a dataframe.

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

2022-10-26 23:46:43.165939: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-10-26 23:46:43.315429: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-10-26 23:46:43.315456: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2022-10-26 23:46:43.341081: E tensorflow/stream_executor/cuda/cuda_blas.cc:2981] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2022-10-26 23:46:43.947959: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2022-10-26 23:46:43.948021: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2022-10-26 23:46:43.948027: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [2]:
df = pd.read_csv('tic-tac-toe.csv')

In [3]:
y = df['class'].astype(object)
X = df.drop(['class'], axis = 1)

In [4]:
y.dtype

dtype('O')

In [5]:
X

    TL TM TR ML MM MR BL BM BR
0    x  x  x  x  o  o  x  o  o
1    x  x  x  x  o  o  o  x  o
2    x  x  x  x  o  o  o  o  x
3    x  x  x  x  o  o  o  b  b
4    x  x  x  x  o  o  b  o  b
..  .. .. .. .. .. .. .. .. ..
953  o  x  x  x  o  o  o  x  x
954  o  x  o  x  x  o  x  o  x
955  o  x  o  x  o  x  x  o  x
956  o  x  o  o  x  x  x  o  x
957  o  o  x  x  x  o  o  x  x

[958 rows x 9 columns]

#### 2. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.

In [6]:
print(df.columns)
len(df.columns)

Index(['TL', 'TM', 'TR', 'ML', 'MM', 'MR', 'BL', 'BM', 'BR', 'class'], dtype='object')

10

In [7]:
num_victories = len(df[df['class']==True])
num_defeats = len(df[df['class']==False])

print("Number of victories of player X: {}".format(num_victories))
print("Number of victories of player O: {}".format(num_defeats))

Number of victories of player X: 626
Number of victories of player O: 332

We can see that there are no null values

In [8]:
df.isna().sum()

TL       0
TM       0
TR       0
ML       0
MM       0
MR       0
BL       0
BM       0
BR       0
class    0
dtype: int64

#### 3. Convert the categorical values to numeric in all columns.

Checking out the data types. Everything seems quite right, let's convert them.

In [9]:
df.dtypes

TL       object
TM       object
TR       object
ML       object
MM       object
MR       object
BL       object
BM       object
BR       object
class      bool
dtype: object

In [10]:
for column in X.columns:
    X[column] = X[column].map({"x":1, "o":0, "b":0.5})

In [11]:
X

      TL   TM   TR   ML   MM   MR   BL   BM   BR
0    1.0  1.0  1.0  1.0  0.0  0.0  1.0  0.0  0.0
1    1.0  1.0  1.0  1.0  0.0  0.0  0.0  1.0  0.0
2    1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  1.0
3    1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.5  0.5
4    1.0  1.0  1.0  1.0  0.0  0.0  0.5  0.0  0.5
..   ...  ...  ...  ...  ...  ...  ...  ...  ...
953  0.0  1.0  1.0  1.0  0.0  0.0  0.0  1.0  1.0
954  0.0  1.0  0.0  1.0  1.0  0.0  1.0  0.0  1.0
955  0.0  1.0  0.0  1.0  0.0  1.0  1.0  0.0  1.0
956  0.0  1.0  0.0  0.0  1.0  1.0  1.0  0.0  1.0
957  0.0  0.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0

[958 rows x 9 columns]

In [12]:
X.dtypes

TL    float64
TM    float64
TR    float64
ML    float64
MM    float64
MR    float64
BL    float64
BM    float64
BR    float64
dtype: object

#### 4. Separate the inputs and output.

In [13]:
X, y

(      TL   TM   TR   ML   MM   MR   BL   BM   BR
 0    1.0  1.0  1.0  1.0  0.0  0.0  1.0  0.0  0.0
 1    1.0  1.0  1.0  1.0  0.0  0.0  0.0  1.0  0.0
 2    1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  1.0
 3    1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.5  0.5
 4    1.0  1.0  1.0  1.0  0.0  0.0  0.5  0.0  0.5
 ..   ...  ...  ...  ...  ...  ...  ...  ...  ...
 953  0.0  1.0  1.0  1.0  0.0  0.0  0.0  1.0  1.0
 954  0.0  1.0  0.0  1.0  1.0  0.0  1.0  0.0  1.0
 955  0.0  1.0  0.0  1.0  0.0  1.0  1.0  0.0  1.0
 956  0.0  1.0  0.0  0.0  1.0  1.0  1.0  0.0  1.0
 957  0.0  0.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0

 [958 rows x 9 columns],
 0       True
 1       True
 2       True
 3       True
 4       True
        ...
 953    False
 954    False
 955    False
 956    False
 957    False
 Name: class, Length: 958, dtype: object)

Encoding the target

In [14]:
type(y)

pandas.core.series.Series

In [15]:
y = y.map({True:1, False:0})

In [16]:
y

0      1
1      1
2      1
3      1
4      1
      ..
953    0
954    0
955    0
956    0
957    0
Name: class, Length: 958, dtype: int64

#### 5. Normalize the input data.

I have chosen 1 for player 1, 0 for player 2 and 0.5 for not chosen place

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [17]:
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split

import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'


#I'm using sklearn for NN <- this is not the best implementation, you should use keras instead
from sklearn.datasets import fetch_openml
from sklearn.exceptions import ConvergenceWarning
from sklearn.neural_network import MLPClassifier

#### 1. Split the training and test data.

In [18]:
# X = X.stack().values
# X

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

#### 2. Create a `Sequential` model.

In [20]:
pd.DataFrame(X_train)

      TL   TM   TR   ML   MM   MR   BL   BM   BR
302  0.0  1.0  1.0  0.0  1.0  0.0  0.5  1.0  0.5
467  0.0  0.5  0.0  0.0  1.0  0.5  1.0  1.0  1.0
294  1.0  0.5  0.5  0.5  1.0  0.5  0.0  0.0  1.0
548  0.5  0.0  1.0  0.0  0.5  1.0  0.5  0.5  1.0
465  0.0  0.5  0.0  1.0  0.0  0.5  1.0  1.0  1.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...
106  1.0  1.0  0.5  0.0  1.0  0.0  0.0  0.5  1.0
270  1.0  0.5  0.0  0.5  1.0  0.0  0.0  1.0  1.0
860  0.0  0.5  1.0  0.0  1.0  0.5  0.0  0.5  1.0
435  0.0  0.5  1.0  0.0  1.0  0.0  1.0  0.5  1.0
102  1.0  1.0  0.5  1.0  0.0  0.0  1.0  0.5  0.0

[766 rows x 9 columns]

#### 3. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.

In [21]:
from tensorflow.python import tf2
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical

In [22]:
# Build the model.
model = Sequential([ # as far as we know, all networks are sequential
    Dense(64, activation='relu', input_shape = (9,)), # 9 = 3*3 dense networks means all neurons in one layer are connected to all neurons of the next layer
    Dense(64, activation='relu'),    # choosing relu instead of sigmoid, this is somewhat common
    Dense(1, activation='softmax'),   # the softmax actiavation is the last one to compensate for the high volume additions
])

2022-10-26 23:46:46.214060: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:980] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-10-26 23:46:46.214489: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-10-26 23:46:46.214552: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcublas.so.11'; dlerror: libcublas.so.11: cannot open shared object file: No such file or directory
2022-10-26 23:46:46.214605: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcublasLt.so.11'; dlerror: libcublasLt.so.11: cannot open shared object file: No such file or directory
2022-10-26 23:46:46.214655: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcufft.so.10'; dlerror: libcufft.so.10: cannot open shared object file: No such file or directory
2022-10-26 23:46:46.214706: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcurand.so.10'; dlerror: libcurand.so.10: cannot open shared object file: No such file or directory
2022-10-26 23:46:46.214757: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcusolver.so.11'; dlerror: libcusolver.so.11: cannot open shared object file: No such file or directory
2022-10-26 23:46:46.214807: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcusparse.so.11'; dlerror: libcusparse.so.11: cannot open shared object file: No such file or directory
2022-10-26 23:46:46.214857: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudnn.so.8'; dlerror: libcudnn.so.8: cannot open shared object file: No such file or directory
2022-10-26 23:46:46.214865: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1934] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...
2022-10-26 23:46:46.215177: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

#### 4. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.

In [23]:
# Compile the model.
model.compile(
    optimizer='adam', #here we could use stochastic gradient descent, but adam is a de facto standard
    loss='categorical_crossentropy', #this is how we create the original blame to play the blame game
    metrics=['accuracy'],
)

#### 5. Fit the training data.

In [24]:
X_train.shape, y_train.shape

((766, 9), (766,))

In [25]:
# Train the model.
history = model.fit(
    X_train,
    y_train, # just to make sure the outputs are not considered numeric (because, ya know, they are numbers...)
    epochs = 20, # go 20 times through the whole dataset
    batch_size = 32, # send 32 images at a time before you tweak the network again, to make it faster
)

Epoch 1/20
24/24 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6540
Epoch 2/20
24/24 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6540
Epoch 3/20
24/24 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6540
Epoch 4/20
24/24 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6540
Epoch 5/20
24/24 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6540
Epoch 6/20
24/24 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6540
Epoch 7/20
24/24 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6540
Epoch 8/20
24/24 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6540
Epoch 9/20
24/24 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6540
Epoch 10/20
24/24 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6540
Epoch 11/20
24/24 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6540
Epoch 12/20
24/24 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6540
Epoch 13/20
24/24 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6540
Epoch 14/20
24/24 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6540
Epoch 15/20
24/24 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6540
Epoch 16/20
24/24 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6540
Epoch 17/20
24/24 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6540
Epoch 18/20
24/24 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6540
Epoch 19/20
24/24 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6540
Epoch 20/20
24/24 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6540

#### 6. Evaluate your neural network model with the test data.

In [26]:
# Evaluate the model.
model.evaluate(
    X_test,
    y_test
)

6/6 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.6510

[0.0, 0.6510416865348816]

#### 7. Save your model as `tic-tac-toe.model`.

In [27]:
!mkdir -p saved_model
model.save('tic-tac-toe.model')

INFO:tensorflow:Assets written to: tic-tac-toe.model/assets

In [28]:
# new_model = tf2.keras.models.load_model('tic-tac-toe.model')

Vuelva a cargar un modelo Keras nuevo desde el modelo guardado:

#### I am going to compare the results with linear regression models

In [29]:
from sklearn import linear_model
from sklearn.metrics import classification_report
linear_model = linear_model.LinearRegression()
from sklearn.metrics import r2_score

In [30]:
lm = linear_model.fit(X_train,y_train)

In [31]:
print(lm.score(X_train,y_train))
print(lm.score(X_test,y_test))

0.9438597213648112
0.8630719329773442

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [32]:
y_train_pred = lm.predict(X_train)
y_test_pred = lm.predict(X_test)

#### R2 score

In [33]:
print("Score for the train set: ", r2_score(y_train, y_train_pred))
print("Score for the test set: ", r2_score(y_test, y_test_pred))

Score for the train set:  0.9438597213648112
Score for the test set:  0.8630719329773442

In [34]:
y_train_pred[:5]

array([0.98496261, 0.99014524, 0.98434058, 0.9755721 , 0.99436086])

In [35]:
y_test_pred[:5]

array([ 0.01511052,  0.97594596,  0.97571001,  0.01389262, -0.00670738])

#### MSE

In [40]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
mse = mean_squared_error(y_test,y_test_pred)
mse

0.031108196650247995

There is no correct value for MSE. Simply put, the lower the value the better and 0 means the model is perfect

https://www.bmc.com/blogs/mean-squared-error-r2-and-variance-in-regression-analysis/

#### RMSE

In [42]:
rmse = np.sqrt(mean_squared_error(y_test,y_test_pred))
rmse

0.17637515882416094

#### MAE

In [43]:
mae = mean_absolute_error(y_test, y_test_pred)
mae

0.0459135956583916

What is a good MAE score? <br>

The closer MAE is to 0, the more accurate the model is. But MAE is returned on the same scale as the target you are predicting for and therefore there isnâ€™t a general rule for what a good score is. How good your score is can only be evaluated within your dataset.

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [38]:
# your code here

**Which approach(es) did you find helpful to improve your model performance?**

In [39]:
# your answer here